
x-environment: &environment
  DEBUG: 1

x-logging-options: &logging
  options:
    max-size: "10m"
    max-file: "2"


services:
  ci:
    build:
      context: .
      args:
        - SRV=${SRV}
      dockerfile: ci/Dockerfile
    image: ${REG}/ci/${SRV}:${CI}
    
    volumes:
      - ./app:/app
    network_mode: host
    # ports:
    #   - 4321:4321
    command: npm run dev --host 0.0.0.0

networks:
  default:
    external: true
    name: rt_default
  proxy:
    external: true
